*.iml
.gradle
/local.properties
# IntelliJ
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/runConfigurations.xml
.idea/dictionaries
.idea/libraries
.idea/caches
.idea/codeStyles
.DS_Store
/build
/captures
.externalNativeBuild
